<div class="individual_comment">
  <span class="user_image">
    <img src=<%=current_user.profile_pic_path() %>>
  </span>
  <div class="right">
    <span class="user_email">
      <%= comment.user.full_name %>
    </span>
    <span class="content">
      <%= comment.content %>
    </span>
    <footer class="comment_footer">
      <span class="actions">
        <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
      </span>
      <span class="time">
        <%=time_ago_in_words(comment.created_at)%> ago
      </span>
    </footer>
  </div>
</div>
