<div class="individual_comment" id="<%= comment.id %>">
  <span class="user_image">
    <img src=<%=comment.user.profile_pic_path %>>
  </span>
  <div class="right">
    <span class="user_email">
      <%= comment.user.full_name %>
    </span>
    <span class="content" id="<%=comment.id%>">
      <%= comment.content %>
    </span>
    <footer class="comment_footer">
      <span class="actions">
        <% if comment.is_liked? current_user.id%>
          <i class="fa fa-thumbs-up fa-2x comment_unlike_button" id="<%= comment.id %>" aria-hidden="true"></i>
          <i style="display: none;"class="fa fa-thumbs-o-up fa-2x comment_like_button", id="<%= comment.id %>"aria-hidden="true"></i>
        <% else %>
        <i style="display: none;"class="fa fa-thumbs-up fa-2x comment_unlike_button" id="<%= comment.id %>" aria-hidden="true"></i>
          <i class="fa fa-thumbs-o-up fa-2x comment_like_button", id="<%= comment.id %>"aria-hidden="true"></i>
        <% end %>
        <span class="comment_likes_count" id="<%= comment.id%>"><%= comment.likes_count %></span>
        <% if current_user == comment.user %>
          <%= link_to 'Edit', edit_comment_path(comment.id), remote: true%>
          <%= link_to 'Delete', comment, method: :delete,remote: true, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </span>
      <span class="time">
        <%=time_ago_in_words(comment.created_at)%> ago
      </span>
    </footer>
  </div>
</div>
