<div class="post">
<header>
  <section class="left">
  <div class="profile_picture">
    <img src=<%=post.user.profile_pic_path %>>
</div>
  <div class="user_email">
<%= post.user.full_name %>
</div>
</section>
<section class="right">
<div class="time">
<% time = post.timediff() %>
<% if time[:type] == "seconds" %>
  Just now
<% else %>
  <%= time[:diff] %>
  <% if time[:diff] == 1 %>
    <%= time[:type].slice(0,time[:type].length - 1) %>
  <% else %>
    <%= time[:type] %>
  <% end %>
  ago
<% end %><br>
</div>
</section>
</header>
<%= post.content %><br>
<footer class="comments">
  <div class="comment_form">
      <%= render 'comments/form', post: post %>
  </div>
  <div class="post_comments">
<% post.comments.each do |comment| %>
  <div class="individual_comment">
    <%= render 'comments/show', comment: comment %><br>
  </div>
<% end %>
</div>
</footer>
</div>
