<div class="post" id="<%= post.id%>">
  <header>
    <section class="left">
      <div class="profile_picture">
        <img src=<%=post.user.profile_pic_path %>>
      </div>
      <div class="post_details">
        <div class="user_name">
          <%= post.user.full_name %>
        </div>
        <div class="time">
          <%= time_ago_in_words(post.created_at) %>
          ago<br>
        </div>
      </div>
    </section>
  </header>
  <div class="content" id="<%= post.id %>">
    <%= post.content %>
  </div>
  <% unless post.image.path.nil? %>
  <div class="post_image">
    <%= image_tag post.image.url %><br>
  </div>
  <% end %>

  <footer>
    <div class="actions" id="<%= post.id %>">
      <% if post.is_liked? current_user.id%>
      <i class="fa fa-thumbs-up fa-2x post_unlike_button" id="<%= post.id %>" aria-hidden="true"></i>
      <i style="display: none;" class="fa fa-thumbs-o-up fa-2x post_like_button" , id="<%= post.id %>" aria-hidden="true"></i>
    <% else %>
      <i style="display: none;" class="fa fa-thumbs-up fa-2x post_unlike_button" id="<%= post.id %>" aria-hidden="true"></i>
      <i class="fa fa-thumbs-o-up fa-2x post_like_button" , id="<%= post.id %>" aria-hidden="true"></i>
      <% end %>

      <span class="post_likes_count" id="<%= post.id%>"><%= post.likes_count %></span>
      <%= link_to 'Delete', post, method: :delete,remote: true, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Edit', edit_post_path(post.id), remote: true%>
    </div>
    <div class="comments_info" id="<%= post.id %>">
      <%= post.comments.count%>
      <% if post.comments.count > 1 %>
      comments
    <% else %>
      comment
      <% end %>
    </div>
  </footer>
  <footer class="comments" id="<%= post.id %>">
    <div class="comment_form">
      <%= render 'comments/form', post: post %>
    </div>
    <div class="post_comments" id="<%= post.id %>">
      <% post.comments.each do |comment| %>
      <%= render 'comments/show', comment: comment %><br>
      <% end %>
    </div>
  </footer>
</div>
