<div class="post">
  <header>
    <section class="left">
      <div class="profile_picture">
        <img src=<%=post.user.profile_pic_path %>>
      </div>
      <div class="user_email">
        <%= post.user.full_name %>
      </div>
    </section>
    <section class="right">
      <div class="time">
        <%= time_ago_in_words(post.created_at) %>
        ago<br>
      </div>
    </section>
  </header>
  <%= post.content %><br>
  <footer>
    <div class="actions">
      <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
      <%= link_to 'Like', url_for(controller: 'likes', action: 'toggle_like', like_type: 'post', like_id: post.id ) %>
      <%= post.likes_count %>
      <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </footer>
  <footer class="comments">
    <div class="comment_form">
      <%= render 'comments/form', post: post %>
    </div>
    <div class="post_comments" id="<%= post.id %>">
      <% post.comments.each do |comment| %>
      <%= render 'comments/show', comment: comment %><br>
      <% end %>
    </div>
  </footer>
</div>
