
<div class="post">
<header>
  <div class="user_email">
<%= User.find(post.user_id).email %>
</div>
<div>
<% time = post.timediff() %>
<% if time[:type] == "seconds" %>
  Just now
<% else %>
  <%= time[:diff] %>
  <% if time[:diff] == 1 %>
    <%= time[:type].slice(0,time[:type].length - 1) %>
  <% else %>
    <%= time[:type] %>
  <% end %>
  ago
<% end %><br>
</div>
</header>
<%= post.content %><br>
</div>
