<!DOCTYPE html>
<html>
  <head>
    <title>Facebook</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if current_user %>
    <header id="panel">
      <a href="/"><img src="/logo.png" , id="logo"></a>
      <%= form_tag("/", method: "get") do %>
          <%= autocomplete_field_tag 'full_name', '', autocomplete_user_full_name_application_index_url, :size => 75 %>
      <% end %>
      <section id="user_pannel">
        <div class="profile_picture">
          <img src=<%=current_user.profile_pic_path %>>
        </div>
        <span id="user_name"><%= link_to current_user.first_name, url_for(action: 'show', controller: 'user', id: current_user.permalink) %></span>
      </section>
      <actions>
        <%= link_to 'Users', url_for(action: 'users', controller: 'home') %>
        <%= link_to 'Friends', url_for(action: 'friends', controller: 'home')%>
        <%= link_to 'Requests', url_for(action: 'requests', controller: 'home') %>
        <%= link_to 'Signout', destroy_user_session_path, method: :delete %>
      </actions>
    </header>
    <% end %>
    <% if notice %>
    <script type="text/javascript">
      noty({text: '<%= notice %>', type: 'alert'});
    </script>

    <% end %>

    <% if alert %>

    <script type="text/javascript">
      noty({text: '<%= alert %>', type: 'error'});
    </script>
    <% end %>

    <%= yield %>
  </body>
</html>
